div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1 {
    padding: 10px;
    color: #ffffff;
}

button {
    width: 90px;
    height: 40px;

    font-size: xx-large;
    
}


.si{
    cursor: pointer;
    color: #ffffff !important;
    width: 80px;
    height: 40px;
    background: #40AD55;
    border-color: #115f25b7;
    transition: all 1s ease;
    position: relative;
    border-radius: 1rem;
    margin: 0 1rem;
    text-decoration: none;
}

.no{
    cursor: pointer;
    color: #ffffff !important;
    background: #e00b0b;
    border: 2px solid;
    border-color: #5a0c0cb7;
    transition: all 1s ease;
    position: relative;
    border-radius: 1rem;
    text-decoration: none;
    width: 80px;
}
#Si {
    grid-row:  5;
    grid-column: 5;
}

#No {
    grid-row: 5;
    grid-column: 6;
    
}

section {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 800px;
    height: 400px;
    align-items: center;
    justify-items: center;
}

body {
    max-width: 1200px;
    max-height: 673px;
    margin: 0 auto;
    background-image: url(/foto/pngtree-landscapes-wallpaper-images-picture-image_3021437.jpg);
    background-repeat: no-repeat; 
    background-position: center center; 
     background-size: cover;
    
}

p {
    font-size: xx-large;
    justify-content: center;
    color: #ffffff;
}
